<%# <%= render "shared/header" %> 
<div class='main'>


<%# アイテム一覧 %>
  <div class='item-contents'>
  <%# カテゴリー・ブランド検索部分%>
    <h2 class='title'>アイテム検索</h2>
    <%= search_form_for @p, url: items_search_path do |f| %>
      <%= f.label '下地orファンデーション' %>
      <%= f.collection_select :category_id_eq, Category.all, :id, :name %>
      <%= f.label 'ブランド名' %>
      <%= f.collection_select :brand_id_eq, Brand.all, :id, :name %>   
      <br>
      <%= f.submit '検索'%>
    <% end %>
  <%# // カテゴリー・ブランド検索部分%>

  <%# 検索結果表示部分 %>
    <%= link_to 'アイテム新規登録', new_item_path, class: "subtitle" %>
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <div class='item-img-content'> 

          <% if item.image.attached? %>  
            <%= image_tag item.image, class: "item-img" %> 
            <%= link_to item_path(item.id) do %>
            <h3 class='item-name'>
              <%= item.item_name %>
            </h3>
            <div class='item-price'>
              <span><%= item.cost %>円<br></span>
              <%# <div class='star-btn'>
                <span class='star-count'>0</span>
              </div> %>
            </div>
            <% end %>
          <% end %>
        </div>
      </li>
      <% end %>
      <%# 商品がない場合のダミー %>
      <% if @items.length == 0 %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を登録してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%# <%= image_tag "star.png", class:"star-icon" %> %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# /商品がない場合のダミー %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <%# <span class='purchase-btn-text'>出品する</span> %>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> 
<% end %>
<%# <%= render "shared/footer" %> 








