<%# <%= render "shared/header" %> 

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <%# <h2 class="name">
      <%= @item.item_name %>
    <%# </h2> %> 
    <div class='item-img-content'>
      <%= image_tag @item.image, class: "item-box-img" %>
    </div>
    <%# <div class="item-price-box">
      <span class="item-price">
      ¥<%= @item.cost %>
      <%# </span> %>
    <%# </div> %> 

    <% if user_signed_in? && current_user.id == @item.user_id %>
      <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
    <%# <% elsif @item.order == nil %>
      <%# <%= link_to '購入画面に進む', item_orders_path(@item.id) ,class:"item-red-btn" %> 
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">アイテム名</th>
          <td class="detail-value"><%= @item.item_name %></td>
        </tr>
        <tr>
          <th class="detail-item">価格</th>
          <td class="detail-value"><%= @item.cost %>円</td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.brand.name %></td>
        </tr>
      </tbody>
    </table>
  </div>


    <h3>mini_talk_app</h3>
    <%= form_with model: [@item, @message] do |f| %>
      <%= f.text_field :text %>
      <%= f.submit '送信' %>
    <% end %>
    <div id='messages'>
      <% @messages.reverse_each do |message| %>
        <p><%= message.text %></p>
      <% end %>
    </div>








   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.description %>
        </p>
      <% end %>
   </div>





</div>



