<%# <%= render "shared/header" %> 

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <%# <h2 class="name">
      <%= @item.item_name %>
    <%# </h2> %> 
    <div class='item-img-content'>
      <%= image_tag @item.image, class: "item-box-img" %>
    </div>
    <%# <div class="item-price-box">
      <span class="item-price">
      ¥<%= @item.cost %>
      <%# </span> %>
    <%# </div> %> 

    <% if user_signed_in? && current_user.id == @item.user_id %>
      <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
    <%# <% elsif @item.order == nil %>
      <%# <%= link_to '購入画面に進む', item_orders_path(@item.id) ,class:"item-red-btn" %> 
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">アイテム名</th>
          <td class="detail-value"><%= @item.item_name %></td>
        </tr>
        <tr>
          <th class="detail-item">価格</th>
          <td class="detail-value"><%= @item.cost %>円</td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.brand.name %></td>
        </tr>
      </tbody>
    </table>
    <%# <div class="option"> %>
      <%# <div class="favorite-btn"> %>
        <%# <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <%# <span>お気に入り 0</span> %>
      <%# </div> %> 
      <%# <div class="report-btn"> %>
        <%# <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%> 
        <%# <span>不適切な商品の通報</span> %>
      <%# </div> %>
    <%# </div> %>
  </div>
  <%# /商品の概要 %>

  


   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.description %>
        </p>
      <% end %>
   </div>


  <div class="comment-box">
    <form>
      <%# <textarea class="comment-text"></textarea> %>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"  %>
        <span>コメントする<span>
      </button>
      <%# <%= link_to 'アイテム新規登録', new_item_path, class: "subtitle" %> %>
        <div class="img-upload">
          <% if user_signed_in? %>
            <%= form_with(model: [@item, @comment], local: true) do |form| %>
            <%# 画像登録の場所 %>
            <div class="weight-bold-text">
              アイテム画像
              <span class="indispensable">任意</span>
            </div>
            <div class="click-upload">
              <p>
                クリックしてファイルをアップロード
              </p>
              <%= form.file_field :image, id:"item-image" %>
            </div>
            <%# // 画像登録の場所 %>
            <%# 商品の詳細 %>
            <div class="items-detail">
              <div class="weight-bold-text">商品の詳細</div>
              <div class="form">
                <div class="weight-bold-text">
                  下地 or ファンデーション
                  <span class="indispensable">必須</span>
                </div>
                <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"item-brand", id:"category"}) %> 
                <div class="weight-bold-text">
                  ブランド名
                  <span class="indispensable">必須</span>
                </div>
                <%= form.collection_select(:brand_id, Brand.all, :id, :name, {}, {class:"item-category", id:"brand"}) %>
              </div>
            </div>
            <%# /商品の詳細 %>

            <%# 商品名 %>
            <div class="new-items">
              <div class="weight-bold-text">
                商品名
                <span class="indispensable">必須</span>
              </div>
              <%= form.text_field :recommend_item_name, class:"item-name", id:"item-name", placeholder:"アイテム名" %>
              <%= form.text_field :cost, class:"price-input", id:"product-price", placeholder:"例）300" %>
            </div>
            <%# /商品名 %>

            <%# 商品説明 %>
            <h1>商品説明</h1>
            <%= form.text_area :description, placeholder: "コメントする", rows: "2" %>



              <%# <%= form.text_area :text, placeholder: "コメントする", rows: "2" %> %>
            <%= form.submit "登録する" ,class:"sell-btn" %>
            <%=link_to 'もどる', root_path, class:"back-btn" %>
            <% end %>
          <% else %>
            <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
          <% end %>
        </div>

      <%# アイテム画像 %>
          <%# <%= image_tag @item.image.variant(resize: '500x500'), class: 'item-image' if @item.image.attached? %> %>
          <%# </div> %>
          <%# /出品画像 %>



          <%# 下部ボタン %>
          <%# <div class="sell-btn-contents">
          </div> %>
          <%# /下部ボタン %>
    </form>
  </div>
  <%# <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a> %>
  <%# </div> %>
</div>

<%# <%= render "shared/footer" %> 


